<?xml version="1.0"?>
<launch>

    <rosparam file="$(find accio_hardware_interface)/config/hardware.yaml" command="load" />
    <rosparam file="$(find accio_hardware_interface)/config/controllers.yaml" command="load" ns="" />
    <<rosparam file="$(find ros_package)/config/config.yaml" command="load" ns="" />

</launch> 